!!!
%html
  %head
    %meta{:name => 'viewport', :content => 'width=320', 'user-scalable' => 'no'}
    %title
      Beermongerer
    %link{:type => 'text/css', :rel => 'stylesheet', :media => 'screen', :href => '/styles/screen.css'}
    %link{:type => 'text/css', :rel => 'stylesheet', :media => 'screen', :href => '/styles/jquery.autocomplete.css'}
    %script{:type => 'text/javascript', :src => 'https://www.google.com/jsapi?key=ABQIAAAA0VBbXqmGRYtZyvZa71Ct6RSGZn7UaALbAKTwGS-qcqX53G0PTBQAeXzJMuX-Lro6Sh22kuP8KbPSEQ'}
    %script{:type => 'text/javascript'}
      //<![CDATA[
      google.load("jquery", "1.4.4");
      google.load("jqueryui", "1.8.9");
      //]]>
  %body
    #page
      %p
        %img{:src => '/images/beers.png'}
      %h1
        Beermongerer
      - if @data
        %form
          %input{:type => :text, :id => :query}
      - else
        %p
          %strong
            Data not found. Whoops.
      #footer
        %p
          This is a searchable index of beers stocked by
          %a{:href => 'http://thebeermongers.com', :title => 'The Beermongers'}>= ' The Beermongers'
          , a bottle shop in Portland, Oregon. 
          %br/
          %br/
          This should help you search their stock quickly, but it only scans
          %a{:href => 'http://thebeermongers.com', :title => 'The Beermongers'} thebeermongers.com
          once per day, and the proprietors have a bad habit of not updating that site very often, so the information may be a little stale. Go visit them for the freshest &ldquo;data.&rdquo; 
          %br/
          %br/
          Only beer names (including the brewery names) are indexed&mdash;not their descriptions&mdash;so this works best if you have a good idea of what you're looking for.
          %br/
          %br/
          Made by
          %a{:href => 'http://twitter.com/beancuke'} @beancuke
          because he likes to research before he shops&mdash;hope you find it useful.
          %a{:href => 'http://thebeermongers.com', :title => 'The Beermongers'} The Beermongers
          do not run or endorse this web site.
          - if @last_modified
            %br/
            %br/
            %em
              Last indexed:
              = @last_modified.strftime("%A, %B %d at %I:%M %p")
      %script
        = "var data = #{@data};"
        $("#query").autocomplete({
        source: data,
        select: function( event, ui ) {
        location.href = ui.item.value;
        }
        });
